---
AUTH_ENC_KEY: {{ AUTH_ENC_KEY }}
HEAT_DB_PASS: {{ HEAT_DB_PASS }}
KS_ADMIN: {{ KS_ADMIN }}
KS_ADMIN_PASS: {{ KS_ADMIN_PASS }}
MYSQL_PASS: {{ MYSQL_PASS }}
RABBIT_PASS: {{ RABBIT_PASS }}
STACK_NAME: {{ STACK_NAME }}
TARGET_DC: {{ TARGET_DC }}
